body {
  margin: 0;
}

.App {
  padding: 10px;
  max-width: 60%;
  margin: auto;
  font-size: 30px;
}

.App > h1 {
  text-align: center;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* .story {
  position: relative;
  padding: 1em;
  box-shadow: 0 1px 2px #aeaeae;
}

.story span.delete {
  position: absolute;
  padding: 1px 3px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 0.8;
  top: 0;
  right: 0;
  background: red;
  color: #fff;
  cursor: pointer;
}

.story_header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.story_header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.story_header h1 > a {
  text-decoration: none;
}

.story_creator {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
}

.story_image {
  max-width: 20%;
}

.story_image img {
  width: 100%;
} */

ul {
  margin: 0;
  padding: 0;
}

li.story-container {
  position: relative;
  list-style: none;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #000000;
}

.story {
  display: flex;
  max-width: 100%;
}

.story-pub-date {
  min-width: 125px;
  color: #000000;
  font-size: 12px;
}

.story-article {
  display: flex;
  justify-content: space-between;
}

.story-title {
  text-decoration: none;
  color: #255255;
}

.story-title:hover {
  text-decoration: underline;
}

.story-title h3 {
  margin: 0;
  color: #121212;
  font-size: 24px;
}

.story-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #000000;
  font-size: 14px;
}

.story-image {
  margin-top: 10px;
  margin-left: 40px;
  width: 200px;
}

.story-image img {
  height: auto;
  width: 100%;
  min-width: 205px;
}

.story-byline {
  color: #727272;
  font-size: 12px;
}

.story-author {
  text-transform: uppercase;
}

.story-delete {
  margin-top: 2px;
  position: absolute;
  padding: 1px 3px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1;
  top: 0;
  right: 0;
  background: red;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 800px) {
  .App {
    max-width: 100%;
  }

  .story-article {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .story-image {
    margin: 0;
    width: 100%;
  }

  .story-image img {
    height: auto;
    width: 100%;
  }

  .story-pub-date {
    text-align: center;
    min-width: 85px;
  }
}
